<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/styles.css" />
    <title>{{ title }}</title>
  </head>
  <body style="max-width: 500px; margin: 0 auto">
    <div>
      <nav>
        <a href="index.html">Home</a> | <a href="canned.html">Canned Food</a> |
        <a href="contact.html">Contact</a>
        <hr />
      </nav>
      <!-- content -->
      {{ content }}
      <!-- end content -->
      <div style="height: 300px">&nbsp;</div>
    </div>
  </body>
</html>
